.parent{
    width: 100vw;
    height: 100vh;
    background-color: teal;
    display: flex;
    overflow: auto;

}
.left{
    width: 20%;
    height: 100vh;
    background-color: black;
    

}
.right{
    width: 80%;
    height: 100%;
    /* overflow: auto; */
}
h3{
    color: white;
}
h2{
    color: white;
}
